project_id = "your-project-id"
region     = "asia-northeast1"

iap_support_email   = "admin@example.com"
iap_allowed_members = ["user:admin@example.com"]

db_tier                = "db-f1-micro"
cloudrun_cpu           = "1"
cloudrun_memory        = "512Mi"
cloudrun_max_instances = 3
warmup_schedule        = "0 8 * * 1-5"
sleep_schedule         = "0 20 * * 1-5"
